MONGODB_URI="mongodb+srv://munnayadavfu99_db_user:M099W91VHyND7Alm@cluster0.jrevjcd.mongodb.net/?appName=Cluster0"
JWT_SECRET="change-this-to-a-strong-secret-32-plus-chars"
ADMIN_USER="TusarKhan"
ADMIN_PASSWORD="Wish"